<a href="https://colab.research.google.com/github/adachao/EECE5510/blob/master/intro_to_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a=1
type(a)

int

In [ ]:
a = 1.0
type(a)

float

In [ ]:
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
i = 0
while (i < 10):
   print(i) 
   i += 1

0
1
2
3
4
5
6
7
8
9

In [ ]:
name_list = ['Henry', 'Reza', 'Mary']
print(name_list)

['Henry', 'Reza', 'Mary']

In [ ]:
numbers_list = [1,2,3]
print(numbers_list)

[1, 2, 3]

In [ ]:
type(numbers_list)

list

In [ ]:
mixed_list = ['Henry', 1, 1.3333]
print(mixed_list)

['Henry', 1, 1.3333]

In [ ]:
numbers_list.append(5)
print(numbers_list)

['Henry', 2, 3, 5, 5, 5, 5]

In [ ]:
numbers_list[0] = 'Henry'
print(numbers_list)

['Henry', 2, 3, 5, 5, 5, 5]

In [ ]:
print(numbers_list[1])

2

In [ ]:
name_dict = {'Henry':220, 'Reza':450, 'Mary':328}
print(name_dict)
print(name_dict['Mary'])
print("Henry's extension is " + str(name_dict['Henry']) )

{'Henry': 220, 'Reza': 450, 'Mary': 328}
328
Henry's extension is 220

In [ ]:
numbers_dict = {1 : 'Henry', 2:'Reza', 3:'Mary'}
print(numbers_dict[1])

Henry

In [ ]:
name_tuple = ('Henry', 'Hugh', 'Barbra')
print(name_tuple[0:2])

('Henry', 'Hugh')

In [ ]:
numbers_tuple = (1, 2, 3)
print(numbers_tuple)

(1, 2, 3)

In [ ]:
name_set = {'Henry', 'Reza', 'Mary', 'Henry'}
print(name_set)

{'Mary', 'Henry', 'Reza'}

In [ ]:
name_set = name_set.union({'JOhn', 'Susan'})
print(name_set)

{'Mary', 'Henry', 'Reza', 'JOhn', 'Susan'}

In [ ]:
name_tuple[0] = John

NameError: ignored

In [ ]:
fo = open('sample_data/anacombe.json')
for i in fo.readlines():
print(i)

IndentationError: ignored

In [ ]:
other_name_set = {'John', 'Susan'}
all_name_set = name_set.union(other_name_set)
print(all_name_set)

{'Mary', 'Henry', 'Reza', 'John', 'JOhn', 'Susan'}

In [7]:
a = [[1, 2, 3], [4, 5, 6], [6, 7, 8]] 
print(a[0][0])

1

In [14]:
list = ['Minneapolis','MN','USA']
print(list)
','. join(list)

['Minneapolis', 'MN', 'USA']

'Minneapolis,MN,USA'